.need-reload {
  background-color: $secondaryColor;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $marginSpacing;
  padding: 30px;
  &__text {
    text-align: center;
    color: $white;
    font-size: $fsH1;
    font-weight: $fwBold;
  }
  &__btn {
    font-size: 1em;
  }
}