.need-reload {
  display: none;
  background-color: $secondaryColor;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $marginSpacing;
  padding: 30px;
  &__text {
    text-align: center;
    color: $white;
    &--main {
      font-size: $fsH2;
      font-weight: $fwBold;
    }
    &--sub {
      margin-top: $marginSpacing-3;
      font-size: $fsH6;
      @include mobile {
        margin-top: $marginSpacing-2;
      }
    }
  }
  &__btn {
    font-size: 1em;
  }
}
body {
  &.device {
    &--desktop {
      @include media(mobile, tablet-portrait, tablet-landscape) {
        overflow: hidden;
        .need-reload {
          display: flex;
        }
      }
    }
    &--mobile {
      @include media(laptop, desktop) {
        overflow: hidden;
        .need-reload {
          display: flex;
        }
      }
    }
  }
}