.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  input[type="submit"], button[type="submit"] {
    font-family: $primaryFont;
    font-size: $fsText;
  }
  .input-container {
    input:not([type="checkbox"]) {
      height: 50px;
    }
    input:not([type="checkbox"]), textarea {
      width: 100%;
      padding: 20px;
      font-family: $primaryFont;
      color: $textColor;
      border-color: none;
      font-size: $fsText2;
      font-weight: $fwLight;
    }
    label.required::after {
      content: ' *';
    }
  }
}