.main-container {
  .main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 20;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
  }
}

.screen-container {
  min-height: 100vh;
  width: 100%;
  background-color: $primaryColor;
  background-image: linear-gradient(135deg, #ffc524 0%, #d88220 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
  .main {
    background-color: $white;
  }
  .back-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: #000;
    overflow: hidden;
  }
  .back-page.one {
    opacity: 0.2;
    z-index: -1;
  }
  .back-page.two {
    opacity: 0.15;
    z-index: -2;
  }
  .back-page.three {
    opacity: 0.1;
    z-index: -3;
  }
}

.screen-container.active {
  .main {
    animation: main-animation 0.5s ease;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    height: 100vh;
    overflow: hidden;
    &:hover {
      transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
      ~.back-page.one {
        transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
      }
      ~.back-page.two {
        transform: perspective(1300px) rotateY(20deg) translateZ(130px) scale(0.5);
      }
      ~.back-page.three {
        transform: perspective(1300px) rotateY(20deg) translateZ(45px) scale(0.5);
      }
    }
  }
  .back-page.one {
    animation: back-page-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
  .back-page.two {
    animation: back-page-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
  .back-page.three {
    animation: back-page-three 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(40px) scale(0.5);
  }
  .click_to_select {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
}










.screen-container {
  .shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: #000;
    overflow: hidden;
  }
  .shadow.one {
    opacity: 0.2;
    z-index: -1;
  }
  .shadow.two {
    opacity: 0.15;
    z-index: -2;
  }
  .shadow.three {
    opacity: 0.1;
    z-index: -3;
  }
}

.screen-container.active {
  .main {
    &:hover {
      ~.shadow.one {
        transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
      }
      ~.shadow.two {
        transform: perspective(1300px) rotateY(20deg) translateZ(130px) scale(0.5);
      }
      ~.shadow.three {
        transform: perspective(1300px) rotateY(20deg) translateZ(45px) scale(0.5);
      }
    }
  }
  .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
  .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
  .shadow.three {
    animation: shadow-three 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(40px) scale(0.5);
  }
}