.section.futur-projects {
  .container {
    .title {
      margin-bottom: $marginSpacing-2;
    }
    .projects-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .project-container {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .project-img-container {
          width: 100%;
          margin-bottom: $marginSpacing-3;
          .project-img {
            height: 25rem;
            width: 100%;
            object-fit: cover;
            @include tablet-portrait {
              height: 19rem;
            }
          }
        }
      }
    }
  }
}