.section.projects {
  background-color: $lightColor;
  .projects-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    .project-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      div.img-container {
        width: 50%;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
        .img {
          width: 100%;
          margin-bottom: -7px;
        }
      }
      div.text-container {
        max-width: 40%;
        margin: auto;
        min-height: 100%;
        .title {
          font-size: 2.5rem;
        }
        .content {
          margin-bottom: 20px;
        }
      }
    }
  }
  .projects-show-more {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
    background-color: $primaryColor;
    div {
      width: 50%;
    }
    .left,
    .right {
      text-align: center;
      height: 100%;
    }
    .left {
      margin: auto;
    }
    .right {
      margin: $paddingSpacing 0;
    }
  }
}