body {
  font-family: "Poppins", sans-serif;
  color: $textColor;
  @include desktop {
    font-size: 16px;
  }
  @include laptop {
    font-size: 15px;
  }
  @include tablet-landscape {
    font-size: 14px;
  }
  @include tablet-portrait {
    font-size: 13px;
  }
  @include mobile {
    font-size: 12px;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

.bold {
  font-weight: 600;
}