body {
  font-family: "Poppins", sans-serif;
  color: $textColor;
  @include desktop {
    font-size: 16px;
  }
  @include laptop {
    font-size: 15px;
  }
  @include tablet-landscape {
    font-size: 14px;
  }
  @include tablet-portrait {
    font-size: 13px;
  }
  @include mobile {
    font-size: 12px;
  }
}

h1 {
  font-size: $fsH1;
}

h2 {
  font-size: $fsH2;
}

h3 {
  font-size: $fsH3;
}

h4 {
  font-size: $fsH4;
}

h5 {
  font-size: $fsH5;
}

h6 {
  font-size: $fsH6;
}

.bold {
  font-weight: 600;
}

.h1 {
  font-size: $fsH1;
}

.h2 {
  font-size: $fsH2;
}

.h3 {
  font-size: $fsH3;
}

.h4 {
  font-size: $fsH4;
}

.h5 {
  font-size: $fsH5;
}

.h6 {
  font-size: $fsH6;
}