.screen-container {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    color: $white;
    transition: 0.3s;
    .menu {
      max-width: 72rem;
      width: 100%;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .logo {
        .logo-svg {
          fill: $white;
          width: 100px;
          .b,
          .c {
            transition: 0.3s;
            stroke: $white;
          }
        }
      }
      .hamburger-menu {
        display: inline-block;
        height: 3.5rem;
        width: 3.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid #eee 1px;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
          transform: scale(1.05);
        }
        .bar {
          width: 1.9rem;
          height: 1.5px;
          border-radius: 2px;
          background-color: #eee;
          transition: 0.5s;
          position: relative;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: #eee;
            transition: 0.3s;
          }
          &::before {
            transform: translateY(-9px);
          }
          &::after {
            transform: translateY(9px);
          }
        }
      }
    }
  }
}

.screen-container.active {
  .navbar {
    color: $black;
    transition: 0.3s;
    .menu {
      .logo {
        .logo-svg {
          fill: $secondaryColor;
          .b,
          .c {
            transition: 0.3s;
            stroke: $secondaryColor;
          }
        }
      }
      .hamburger-menu {
        border-color: $secondaryColor;
        .bar,
        .bar::before,
        .bar::after {
          background-color: $secondaryColor;
        }
        .bar {
          transform: rotate(360deg);
          background-color: transparent;
          &::before {
            transform: rotate(45deg) translateY(0);
          }
          &::after {
            transform: rotate(-45deg) translateY(0);
          }
        }
      }
    }
  }
}