/*.screen-container.active .page-content {
  display: none;
}*/

/*.screen-container .page-content {
  animation-name: page-content-appear;
  animation-duration: 0.1s;
  animation-delay: 7s;
}*/

.page-content {
  background-color: $white;
  .section {
    padding: $marginSpacing 0;
    &>.container {
      margin: 0 auto;
      @include desktop {
        max-width: $maxWidthDesktop;
      }
      @include laptop {
        max-width: $maxWidthLaptop;
      }
      @include tablet-landscape {
        max-width: $maxWidthTabletLandscape;
      }
      @include tablet-portrait {
        max-width: $maxWidthTabletPortrait;
      }
      @include mobile {
        max-width: $maxWidthMobile;
      }
    }
  }
}